<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />

  <root level="DEBUG">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="de.knowis.cp.util.web.client.interceptor.LoggerInterceptor"
    level="TRACE" />
  <logger name="de.knowis.cp" level="DEBUG" />
  <logger name="org" level="DEBUG" />

</configuration>
